SHOWUP_DATABASE_PATH=.data/showup-testnet.db
SHOWUP_PUBLIC_ORIGIN=http://localhost:3000
SHOWUP_OPERATOR_WALLET=NQ00_REPLACE_WITH_AUTHENTICATED_TESTNET_WALLET
SHOWUP_ORGANIZER_WALLET=NQ00_REPLACE_WITH_ALLOWLISTED_TESTNET_WALLET
SHOWUP_SIGNER_PRIVATE_KEY_HEX=64_HEX_CHARACTERS_SERVER_ONLY
SHOWUP_RPC_URL=https://rpc.testnet.nimiqwatch.com/
